/* general */
body{
  font-family: 'Roboto', sans-serif;
}

[class*=col-]{
  
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.inline-block{
  display: inline-block;
}
.alto-todo{
  height: 100%;
}

.largo-todo{
  width: 100%;
}

.margin-auto{
  margin: auto;
}

/* header-menu */
header section .container .nav-menu{
  height: 55px;
  line-height: 55px;
  vertical-align: middle;
}

header section img{
  height: 30px;
}

header section .container span a{
  padding: 0 8px;
  color: black;
  text-decoration: none;
}

header section .container span.glyphicon-menu-hamburger{
  color: #318CFD;
}

header section .container span.glyphicon-menu-down{
vertical-align: text-top;
}

header section .menu-right span a .btn{
  color: #318CFD;
  border-color: #318CFD;
}

/* header-jumbotrom */
.sfondo-jumbotrom{
  width: 100%;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotrom{
  min-height: 350px;
  padding: 3% 0%;
  color: 
  white;
}
/* text-jumbotrom */
.sfondo-jumbotrom .jumbotrom .text-jumbotrom{
  padding: 0% 1%;
}

.sfondo-jumbotrom .jumbotrom .text-jumbotrom h2{
  font-size: 50px;
}

.sfondo-jumbotrom .container .jumbotrom .text-jumbotrom p{
  color: lightgray;
  line-height: 25px;
}

/* registration jumbotrom */
.sfondo-jumbotrom .container .jumbotrom .registration{
  min-height: 300px;
  border-radius: 5px;
  padding: 2% 2%;
  line-height: 25px;
  background-color: white;
  color: black;
}

.sfondo-jumbotrom .container .jumbotrom .registration .get-started{
  font-size: 25px;
  text-decoration: none;
}

.sfondo-jumbotrom .container .jumbotrom .registration input{
  margin: 10px 0;
}

.sfondo-jumbotrom .container .jumbotrom .registration span{
  position: relative;
  font-size: 15px;
  padding: 8px;
  margin-bottom: 8px;
}
.sfondo-jumbotrom .container .jumbotrom .registration span i{
  position: absolute;
  left: 10px;
}

.sfondo-jumbotrom .container .jumbotrom .registration p{
  margin-top: 8px;
  font-size: 12px;
}

.sfondo-jumbotrom .container .jumbotrom .registration p a{
  text-decoration: underline;
}

/* main- sponsors */
main .sponsors{
  width: 100%;
  background-color: #F3F5F9;
}

main section .row-sponsors{
  min-height: 150px;
}

main section .row-sponsors h5{
  padding-top: 35px;
  color: rgb(153, 152, 152);
}

main section .row-sponsors .img-sponsors img{
 width: auto;
 height: 60px;
}

main section .row-sponsors:nth-child(3){
  padding: 10px;
}
main section .row-sponsors a{
  text-decoration: none;
}

/* main-deploy */
.text-deploy{
  padding-top: 35px;
  padding-bottom: 40px;
}

.deploy-cont{
  min-height: 300px;
}

/* main-desing for developers */
.desing-cont{
  background-color: #F3F5F9;
}

.img-desing{
  height: 300px;
  line-height: 300px;
}

.text-design{
 padding: 0 15%;
}

/* main-features your */
.features-cont{
  min-height: 300px;
  padding: 30px 15px;
}

/* main paises */
.paises-cont{
  min-height: 300px;
  color: white;
  background-color: blue;
}

.paises-row{
 max-width: 1170px;
 margin: auto;
 padding: 40px 0;
}

/* main development */
.development-cont{
  background-color: #F3F5F9;
  margin-top: 30px;
}

.img-development{
  height: 300px;
  line-height: 300px;
}

.text-development{
 padding: 0 15%;
}

/* main- star bottom */
.star-bottom{
  height: 150px;
  color: white;
  background-color: blue;
}
.star-bottom-text{
  height: 150px;
  padding: 4%;
}

/* footer */
footer .row{
  min-height: 400px;
  padding: 2% 15%;
  color: white;
  background-color: rgb(3, 3, 92);
}
